@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;

@inject IWebHostEnvironment HostingEnvironment
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (HostingEnvironment.IsDevelopment())
{
    <link href="~/css/bootstrap.css" rel="stylesheet" />
}
else
{
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
}
    
</head>
<body class="text-center">
    @RenderBody()
    @if (HostingEnvironment.IsDevelopment())
{
    <script src="~/js/jquery.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>
}
else
{
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
}
    @RenderSection("Scripts", false)
</body>
</html>
