{
  "ConnectionStrings": {
    "Outback": "Server=127.0.0.1;Database=;User Id=;Password=;"
  },
  "Rinsen": {
    "ClientId": "",
    "ClientSecret": "",
    "GelfHost": "",
    "InvitationCode": ""
  }
}