@{
    Layout = "_LayoutIdentity";
}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .sign-out {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

</style>
<div class="sign-out">
    <h1 class="h3 mb-3 font-weight-normal">You are successfully logged out</h1>
    <p><a href="/Identity">Login</a></p>
</div>